*, *:before, *:after {
    box-sizing: border-box;

  }

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__container {
    display: grid;
    grid-template-columns: 1fr repeat(4, 200px) 1fr;
    justify-content: center;
}


.nav__title {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    margin-left: 40px;
}

.footer__column p {
    font-weight: 600;
}

.footer__ul {
    text-decoration: none;

}

.nav__ul li {
    list-style-type: none;
    line-height: 2;
    font-size: 16px;
}

.list__item {
    font-size: 14px;
    box-shadow: inset 0 0 0 0 #f5acff;
    color: #696969;
    padding: 0.2rem .2rem;
    margin: 0.2 -.2rem;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.list__item:hover {

    color: #fff;
  box-shadow: inset 200px 0 0 0 #f5acff;

  text-decoration: none;
}


/* footer links */
.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.footer__copyright {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #696969;
    margin-right: 60px;
}

.footer__socials {
    display: flex;
    align-items: center;
}

.footer__follow p {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 16px;
    color: #696969;
}

.social__logos {
    justify-content: space-between;
    align-items: center;
}

.social__logo svg {
    height: 16px;
    width: 16px;
    color: #696969;

}

.social__logo svg:hover {
    color: #f5acff;
}

/* SLIDER */

.slider-wrapper {
    overflow: hidden;
    position: relative;
    max-width: 64rem;
    max-height: 20rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 11;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

/* Slider IMG settings */

.slider img {
    max-height: 100%;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: fill;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

/* Media query for tablet */
@media screen and (max-width: 1024px) {
    .slider {
        aspect-ratio: 16 / 11; /* Adjust aspect ratio for tablets */
    }
}

/* Media query for mobile */
@media screen and (max-width: 768px) {
    .slider {
        aspect-ratio: 16 / 9; /* Adjust aspect ratio for tablets */
        flex-direction: column; /* Stack images vertically */
        height: auto; /* Allow the slider to grow based on content */
    }

    .slider img {
        max-width: 100%; /* Make images fill the slider width */
        max-height: none; /* Remove max-height for images */
        object-fit: cover; /* Crop images to cover entire slider */
    }

    .slider-nav {
        bottom: 1rem; /* Adjust position of navigation for mobile */
    }

    .slider-nav a {
        width: 0.25rem; /* Make navigation dots smaller for mobile */
        height: 0.25rem;
    }
}


