
/* Project colors */
:root {
    --mainColorLightVelvet: rgba(205, 180, 219);
    --mainColorLightPink: rgba(255, 200, 221);
    --mainColorPink: rgba(255, 175, 204);
    --mainColorLightBlue: rgba(189, 224, 254);
    --mainColorBlue: rgba(162, 210, 255);
    --colorLightBlack: #333;

    --cottonCandyPink: #ff71b2;
    --cottonCandyLightPink: #ffb8d8;
    --cottonCandyBlue: #509be1;
}



/* Main font */
body {
    font-family: 'Lato', sans-serif;
}
