
/* Project colors */
:root {
    --mainColorMediumPink: rgba(255,160,173);
    --mainColorLightPink: rgba(255,213,213);
    --mainColorPink: rgba(255,113,178);
    --mainColorLightBlue: rgba(211,233,255);
    --mainColorBlue: rgba(80,155,225);
    --colorLightBlack: #333;
}

/* Main font */
body {
    font-family: 'Lato', sans-serif;
}
