@import "header-menu.css";

header {
    color: #fff;
    padding-top: 10px;
    text-align: center;
    }

.background {
        position: absolute;
        top: 130px;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: -1;
        background: var(--cottonCandyLightPink);
        background: linear-gradient(90deg, rgba(255,184,216,0) 0%, var(--cottonCandyLightPink) 15%, var(--cottonCandyLightPink) 95%, rgba(255,184,216,0) 100%);
}

.logoSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.socialMedia {
    color: var(--cottonCandyPink);
    display: flex;
    align-items: flex-start;
    padding-top:20px;
}
.socialMedia a {
    color: var(--cottonCandyPink);
}
.socialMedia a:hover {
    color: var(--cottonCandyLightPink);
}
.filterLogo {
    filter: invert(63%) sepia(87%) saturate(1716%) hue-rotate(295deg) brightness(101%) contrast(102%);
    height: 120px;
}
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background: #FF71B2;
    background: linear-gradient(90deg, #FF71B2 74%, #ffb8d8 100%);
    font-family: 'Raleway', sans-serif;
    font-size:1.2em;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 50px;
}

.rightSide {
    display: flex;
    align-items: center;
}

.rightSide input[type="text"] {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
}

.icons {
    display: flex;
    align-items: center;
    margin-right:10px;
}

.icons i {
    margin-left: 10px;
}

/* ~~~~~~~~~~~~~~~ menu that sucks ~~~~~~~~~~~~~~~~~~ */

.menu {
    font-family: 'Fredoka', sans-serif;
    list-style: none;
    margin: 0;
    display: flex;
    padding: 12px 0 12px 35px;
}

.menu li {
    margin-right: 0px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #AE66D7;
    list-style: none;
    z-index:6;
    text-align:left;
    font-family: 'Raleway', sans-serif;
    font-size:0.8em;
}

.has-submenu:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    margin: 0;
    border-bottom: 1px solid var(--mainColorLightPink);
}

.submenu li:last-child {
    border-bottom: none;
}

.submenu a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.submenu a:hover {
    background-color: #A2D2FF;
}
