.navbar {
    position: static;
    top: 0;
    border-radius: 0px 0px 40px 40px;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(236, 249, 255) 100%);
}

/* Media query dropdown */
/* @media (max-width: 800px) {
    .dropdown {
        display: none;
    }
} */

/* Media query dropdown end */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Menu dropdown*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}
/* Menu dropdown end */
