@import "baseline.css";


.sections {
    position: relative;
    display: inline-block;
    vertical-align:top;
    margin:0;
    padding:0 10px;
    box-sizing: border-box;

}

.right-section {
    position: relative;
    display:inline-block;
    vertical-align:middle;
    width: 50%;
    float: left;
    padding:0 0 0 80px;
    box-sizing: border-box;
}

.main_img {
    flex: 1;
    padding: 0;
    box-sizing: border-box;
    justify-content: right;
    align-items: center;
}


.product__img_small {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product__img_small img {
    width: 120px;
    height: 100px;
    border-radius: 10%;
}

.product__img_small img.img_sm1 {
    object-fit: cover;
    object-position: 120% 120%;
    padding-right: 5px;
}
.product__img_small img.img_sm2 {
    object-fit: cover;
    object-position: 60% 60%;
}
.product__img_small img.img_sm3 {
    object-fit: cover;
    object-position: 0% 0%;
}
.product__img_small img.img_sm4 {
    object-fit: cover;
    object-position: -40% -40%;
}


.products {
    padding: 1rem 0;
    margin-left: 8%;
    margin-right: 8%;
    margin-top:4%;
    margin-bottom:5%;
    width: 90%;
    height:95%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.lg-title,
.md-title,
.sm-title {
    padding: 0.6rem 0;
    text-transform: capitalize;
}

.lg-title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}

.md-title {
    font-size: 2rem;
}

.sm-title {
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
}

.text__light {
    font-size: 1rem;
    color: #696969;
    font-weight: 600;
    line-height: 2;
    opacity: 0.5;
    margin: 25px;
}

.products .text-light {
    text-align: center;
    width: 60%;
    margin: 0.9rem auto;
}


.product__img img{
    /* background-color: rgb(255, 169, 241); */
    box-shadow: 0 0 20px 10px rgba(199, 198, 198, 0.2);
    border-radius: 10%;
    /* transition: background 0.5s ease; */
    transition: transform 0.5s ease;
    margin-bottom: 10px;
    width: 540px;
    height: auto;
    justify-content: center;

}

.product:hover .product__img img {
    transform: scale(1.1);
}


.product__img {
    display:flex;
    justify-content: right;

}

.product:hover .product__btns {
    opacity: 1;
}

.product__btns {
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
}

.btn-cart, .btn-buy {
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.8rem 0;
    width: 200px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
    margin: 10px;
}

.btn-cart {
    background-color: black;
    color: #fff;
    padding-right: 10px;
}

.btn-cart:hover {
    background-color: #333;
}

.btn-buy {
    background-color: var(--mainColorPink);
}

.btn-buy:hover {
    background-color: #3394d3;
    color: #fff;
}

.product-info {
    background-color: #fff;
    padding: 2rem;
    text-align: left;
}

.rating span {
    color: #f5acff;

}

.product-name {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.product-price {
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;

}

.product-price:first-of-type {
    text-decoration: line-through;
    color: #f5acff;
}

.off-info .sm-title {
    background-color: rgb(238, 135, 10);
    color: #fff;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}

#quantityContainer {
    display:flex;
    align-items: center;
    gap:10px;
    padding-left: 4rem;
}

.quantity-btn {
    background-color: transparent !important;
    border: none;
    width: 30px;
    height: 24px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.quantity-btn:hover {
    border: none;
    background-color: #3394d3;

}

#quantityDisplay {
    font-size: 24px;
    font-weight: bold;
}






