.sections {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.right-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.img {

    display:flex;
    justify-content: center;
    align-items: center;
}

.products {
    padding: 1rem 0;
    margin-left: 8%;
    margin-right: 8%;
    margin-top:10%;
    margin-bottom:5%;
    width: 80%;

    display:flex;
    justify-content: center;
    align-items: center;

}

.lg-title,
.md-title,
.sm-title {
    padding: 0.6rem 0;
    text-transform: capitalize;
}

.lg-title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: left;
    padding: 1.3rem 0;
    opacity: 0.9;
}

.md-title {
    font-size: 2rem;
}

.sm-title {
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}

.text__light {
    font-size: 1rem;
    color: #696969;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

.products .text-light {
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}


.product__img img {
    /* background-color: rgb(255, 169, 241); */
    box-shadow: 0 0 20px 10px rgba(199, 198, 198, 0.2);

    border-radius: 50%;
    /* transition: background 0.5s ease; */

    transition: transform 0.5s ease;


    margin-bottom: 10px;
    width: 300px;
    height: auto;
    display:block;
    justify-content: center;
}

.product:hover .product__img img {
    transform: scale(1.1);
}

.product__img {
    display:flex;
    justify-content: center;
    align-items: center;


}

.product:hover .product__btns {
    opacity: 1;
}

.product__btns {
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
}

.btn-cart, .btn-buy {
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.8rem 0;
    width: 150px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}

.btn-cart {
    background-color: #fff;
    color: #333;
}

.btn-cart:hover {
    background-color: #333;
}

.btn-buy {
    background-color: #fcaa2f;
}

.btn-buy:hover {
    background-color: rgb(241, 161, 86);
    color: #fff;
}

.product-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info {
    background-color: #fff;
    padding: 2rem;
}

.rating span {
    color: #f5acff;
}

.product-name {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.product-price {
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}

.product-price:first-of-type {
    text-decoration: line-through;
    color: #f5acff;
}

.off-info .sm-title {
    background-color: rgb(238, 135, 10);
    color: #fff;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}

