@import "baseline.css";

@media (max-width: 600px) {
    .product-content {
        flex-direction: column;
        align-items: center;
    }

    .product-images {
        width: auto;
        height: auto;
    }
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 5%;
}

.product-heading {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}

.product-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}


.main-image {
    width: 100%;
    max-width: 500px;
    max-height: 400px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    /* padding-bottom:20px; */
}

.product-info {
    flex: 1;
    padding-left: 20px;
    padding-bottom:20px;
    flex-wrap:wrap;
    min-width:300px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: var(--cottonCandyDeepPink);
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 10px;
}

.btn-global {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1rem;
    outline: none;
    text-decoration: none;
}

.btn-cart, .btn-buy {
    border: none;
    border-radius: 4px;
    background-color: var(--cottonCandyDeepPink);
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;


}

.btn-cart:hover, .btn-buy:hover {
    background-color: var(--cottonCandyDeepPink);
}
/*
.btn-buy, .btn-cart {
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.8rem 0;
    width: 200px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
    margin: 10px;
}

.buttons {
    align-items: center;
    justify-content: space-between;
}
.btn-cart {
    background-color: var(--mainColorPink);
    color: var(--black);
    padding-right: 10px;
}

.btn-cart:hover {
    background-color: var(--mainColorBlue);
    color: var(--white);
}

.btn-buy {
    background-color: var(--mainColorPink);
    color: var(--black);

}

.btn-buy:hover {
    background-color: var(--mainColorBlue);
    color: var(--white);
}*/
.parameters {
    margin-top: 20px;
}

.parameter {
    margin-bottom: 5px;

}

.parameter strong {
    margin-right: 7px;
}

.description {

    font-size: 16px;
    line-height: 1.5;
}

#quantityContainer {
    display:flex;
    align-items: center;
    gap:10px;
    margin-right: 20px;


}


.quantity-btn {
    background-color: transparent !important;
    border: none;
    width: 30px;
    height: 24px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--cottonCandyDeepPink);
    outline:none;
    text-decoration: none;

}

.quantity-btn:hover {
    border: none;
    background-color: #3394d3;


}

.quantity-btn:focus{
    outline: none;
}

#quantityDisplay {
    font-size: 24px;
    font-weight: bold;
    color: var(--cottonCandyDeepPink);
}


.footer {
    margin-top: 20px;
}
