

.slider-wrapper {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    max-height: 30rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.image-container {
    display: none;
}

.slider {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

/* Slider IMG settings */

.slider img {
    max-height: 100%;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: fill;
}

.fade {
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
    from {opacity: 0.9}
    to {opacity: 1}
}


/* Media query for tablet */
@media screen and (max-width: 1024px) {
    .slider {
        aspect-ratio: 16 / 11;
    }
}

/* Media query for mobile */
@media screen and (max-width: 768px) {
    .slider {
        aspect-ratio: 16 / 9;
        flex-direction: column;
        height: auto;
    }

    .slider img {
        max-width: 100%;
        max-height: none;
        object-fit: cover;
    }
}

