

h2 {
	color: #333;
	text-align: center;
    font-size: 32px;
    font-weight: 500;
	position: relative;
	margin: 30px 0 60px;
}

h2::after {
	content: "";
	width: 220px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: var(--mainColorLightPink);
	left: 0;
	right: 0;
	bottom: -10px;
    opacity: .8;
}

.col-center {
	margin: 0 auto;
	float: none !important;
}

.carousel {
	margin: 50px auto;
	padding: 0 70px;
}

.carousel-item {
	color: var(--colorLightBlack);
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}

.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid var(--mainColorLightPink);
	border-radius: 50%;
}

.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

.carousel .testimonial {
	padding: 30px 0 10px;
}

.carousel .overview {
	font-style: italic;
}

.carousel .overview b {
	text-transform: uppercase;
	color: var(--mainColorPink);
}

.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -100px;
    top: 50%;
	background: none;
}

.carousel-control i {
    font-size: 48px;
	line-height: 38px;
    position: absolute;
    display: inline-block;
	color: var(--mainColorLightPink);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 var(--mainColorLightPink);
}

.carousel .carousel-indicators {
	bottom: -40px;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}

.carousel-indicators li {
	background: var(--mainColorLightPink);
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(240, 214, 214, 0.2);
}

.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
